POSTGRES_DB=wisread
POSTGRES_USER=wisread
POSTGRES_PASSWORD=wisread123
POSTGRES_PORT=5433
MINIO_ROOT_USER=wisread
MINIO_ROOT_PASSWORD=wisread123
MINIO_ENDPOINT=http://localhost:9000
MINIO_BUCKET=wisread-documents
